body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #74ebd5, #acb6e5);
  font-family: "Poppins", sans-serif;
  text-align: center;
  overflow-y: auto;
}

#logo {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 10%;
  height: auto;
}

#panel {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.zmien_haslo,
.usun_konto,
.logout {
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: #fff;
}

.zmien_haslo {
  color: green;
  border-color: green;
}

.zmien_haslo:hover {
  background-color: green;
  color: #fff;
}

.usun_konto {
  color: darkred;
  border-color: darkred;
}

.usun_konto:hover {
  background-color: darkred;
  color: #fff;
}

.logout {
  color: red;
  border-color: red;
}

.logout:hover {
  background-color: red;
  color: #fff;
}

form {
  width: 350px;
  margin-top: 50px;
}

textarea {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: vertical;
  font-family: "Poppins", sans-serif;
}

textarea:focus {
  outline: none;
  border-color: green;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: green;
}

input[type="submit"] {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  transition: background 0.5s ease;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

input[type="submit"]:hover {
  background: #218838;
}

p {
  color: red;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 80%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  object-fit: cover;
}

#posty {
  width: 80%;
  max-width: 900px;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
  height: 60vh;
}

.post {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}

.post p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.post p strong {
  color: #007bff;
  font-weight: bold;
}

.post p em {
  font-style: italic;
  color: #888;
}

.post:hover {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.post p:last-child {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
}
